body .fcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 74vh;

}

body .fcontainer h1 {
    padding: 30px 30px;
    font-weight: bolder;
}

body .fcontainer form {
    padding: 0px 50px;
    width: 70%;
    color: white;
    justify-content: center;
}

body .fcontainer form input[type=mail] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

body .fcontainer form input[type=tel] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

body .fcontainer form input[type=text] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

body .fcontainer form input[type=submit] {
    
    
    padding: 15px 25px;
    
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
}

body .fcontainer form .fbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

body .fcontainer form .fbutton #btn1,
#btn2 {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
}

body .fcontainer form .fbutton #btn2 {
    text-decoration: none;
    color: rgb(255, 187, 0);
    font-weight: bolder;
    border: 4px solid #000;
    border-color: rgb(255, 187, 0);
    background-color: transparent;
}

body .fcontainer form .fbutton #btn1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 4px solid #000;
    border-color: rgb(255, 187, 0);
    background-color: rgb(255, 187, 0);
}

body .fcontainer form .fbutton #btn2:hover {
    color: white;
    background-color: rgb(255, 187, 0);
}


body .fcontainer form .fbutton .custom-button {
    margin-right: 15px;
}

body footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

body .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

body .popup-content {
    background-color: rgb(124, 124, 249);
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

body .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

body .close-button:hover {
    color: red;
}